/* DEV */
* {
  /* background: green; */
}

.nav__user {
  display: none !important;
}

.nav__pages {
  margin-right: 0 !important;
}

/* main */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
}

/* GLOBALS CLASSES */
.hidden {
  display: none;
}

.cover {
  width: inherit;
  height: auto;
  object-fit: cover;
}

.contain {
  width: inherit;
  height: auto;
  object-fit: contain;
}

.fill {
  width: inherit;
  height: inherit;
  object-fit: fill;
}

/* BUTTONS */
.cta {
  height: 36px;
  width: fit-content;
  padding: 0 16px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: bold;
  background: crimson;
}

.btn__reset {
  height: 36px;
  width: fit-content;
  padding: 4px 16px;
  border-radius: 100px;
  font-size: 1.4rem;
  color: #fff;
  background: blue;
}

/* HEADER */
header {
  width: 100%;
  height: 75px;
  /* DEV */
  border: 1px solid #000;
}

.header__wrapper__desk {
  display: none;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

.header__wrapper__mobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__menu__button {
  width: 25px;
  height: 25px;
}

.menu__mobile {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: #e9e9e9;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 50;
  transition: all 0.4s;
}

.menu__mobile.open {
  left: 0;
}

.menu__mobile__wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.menu__mobile__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.nav__pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.nav__pages__link {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__pages__link:not(:last-child) {
  border-bottom: 2px solid #000;
}

.nav__pages__link a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

.nav__pages__link a:visited {
  color: #000;
}

.nav__pages__link.active a {
  color: grey;
}

.nav__user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__user__link {
  width: 50px;
  height: 50px;
}

@media (min-width: 976px) {
  header {
    height: 125px;
  }

  .header__wrapper__mobile {
    display: none;
  }

  .menu__mobile {
    display: none;
  }

  .header__wrapper__desk {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .header__logo {
    width: 100px;
    height: 100px;
  }

  .nav__pages {
    width: fit-content;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    margin: 0 80px 0 auto;
  }

  .nav__pages__link {
    height: 40px;
    width: fit-content;
    justify-content: center;
    padding: 0 24px;
  }

  .nav__pages__link:not(:last-child) {
    border-bottom: none;
    border-right: 2px solid #000;
  }

  .nav__pages__link a {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .nav__user {
    width: fit-content;
    justify-content: flex-end;
    gap: 40px;
  }

  .nav__user__link {
    width: 50px;
    height: 50px;
  }
}

/* MAIN */
main {
  padding: 20px 0 0 0;
}

@media (min-width: 1281px) {
  main {
    padding: 40px 0 0 0;
  }
}

/* PAGES */
.page__title {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  margin: 0 auto 40px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.page__title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 976px) {
  .page__title {
    width: fit-content;
    padding: 12px 40px;
  }

  .page__title h1 {
    font-size: 1.8rem;
    text-align: start;
    white-space: nowrap;
  }

  .page__title h1 br {
    display: none;
  }
}

@media (min-width: 1281px) {
  .page__title {
    margin-bottom: 60px;
  }
}

/* SECTIONS */
.section__wrapper {
  padding: 0 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
}

.section__title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 20px;
}

.section__title h2 {
  font-size: 1rem;
  font-weight: bold;
}

.section__title div {
  height: 3px;
  background: #000;
  border-radius: 6px;
  position: relative;
  top: -8px;
}

.section__title div:first-child {
  width: 20px;
}

.section__title div:last-child {
  flex-grow: 1;
}

.section__title__box {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.section__title__box h3 {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.section__title__box div {
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    #000 10% 90%,
    rgba(0, 0, 0, 0.5)
  );
  border-radius: 6px;
  position: relative;
}

.section__title__box div:first-child {
  top: -2px;
}

.section__title__box div:last-child {
  top: 2px;
}

@media (max-width: 379px) {
  .section__title {
    flex-direction: column;
    gap: 12px;
  }

  .section__title h2 {
    width: 100%;
    text-align: center;
  }

  .section__title div:first-child,
  .section__title div:last-child {
    width: 100%;
    height: 2px;
  }

  .section__title div:first-child {
    top: 6px;
  }
}

@media (min-width: 977px) {
  .section__wrapper {
    padding: 0 40px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1025px) {
  .section__title {
    gap: 12px;
    margin-bottom: 20px;
  }

  .section__title h2 {
    font-size: 1.4rem;
  }

  .section__title div {
    top: -10px;
  }

  .section__title div:first-child {
    width: 40px;
  }
}

@media (min-width: 1281px) {
  .section__wrapper {
    padding: 0 60px;
  }
}

/* CARROUSEL */
.home__carrousel {
  width: 100%;
}

.carrousel__wrapper {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 6px;
}

.carrousel__buttons {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrousel__buttons img {
  width: 20px;
  height: 20px;
}

.carrousel__buttons img:first-child {
  transform: rotate(180deg);
}

.carrousel__sections__container {
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: flex;
  align-items: center;
}

.carrousel__section__wrapper {
  height: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.carrousel__section__image,
.carrousel__section__content {
  height: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 0;
}

.carrousel__section__image {
  z-index: 1;
}

.carrousel__section__content {
  z-index: 2;
  display: flex;
  align-items: center;
}

.carrousel__section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carrousel__content__wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.carrousel__content__title {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 12px;
}

.carrousel__content__title h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.carrousel__content__description {
  width: 100%;
  padding: 0 25px;
  margin-bottom: 20px;
}

.carrousel__content__description h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.carrousel__content__cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .carrousel__wrapper {
    aspect-ratio: 2 / 1;
  }

  .carrousel__buttons img {
    width: 30px;
    height: 30px;
  }

  .carrousel__sections__container {
    left: calc(-100% - 1px);
  }

  .carrousel__section__wrapper {
    height: calc(100% + 1px);
    aspect-ratio: 2 / 1;
  }

  .carrousel__content__wrapper {
    height: 100%;
    justify-content: center;
  }

  .carrousel__section__wrapper .carrousel__section__image {
    left: 0;
  }

  .carrousel__section__wrapper .carrousel__section__content {
    left: auto;
    right: 0;
  }
}

/* HOME GALLERY */
.home__gallery {
  width: 100%;
}

.gallery__cards__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 12px;
}

.gallery__card__wrapper {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #000;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.gallery__card__image {
  width: 100%;
  height: 100%;
}

.gallery__card__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.gallery__card__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 12px;
  background: rgba(0, 0, 0, 0.3);
}

.gallery__card__content h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.gallery__card__content p {
  font-size: 1rem;
}

@media (min-width: 481px) {
  .gallery__cards__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 769px) {
  .gallery__cards__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 1025px) {
  .gallery__cards__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 1201px) {
  .gallery__cards__container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto; */
  }

  .gallery__card__wrapper {
    /* width: 24%; */
  }
}

@media (min-width: 1681px) {
  .gallery__card__wrapper {
    width: 19%;
  }
}

/* HOME CONTACT */
.home__contact {
  width: 100%;
}

.home__contact__wrapper {
  display: flex;
  flex-direction: column;
}

.home__contact__hours {
  margin-bottom: 20px;
}

.home__contact__hours h3,
.home__contact__distance h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
  position: relative;
  left: 32px;
  text-decoration: underline;
}

.home__contact li {
  list-style: none;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 32px;
}

.home__contact li p:first-child {
  justify-self: end;
}

.home__contact p {
  font-size: 1rem;
}

.home__contact span {
  font-weight: bold;
}

.home__contact__image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 481px) {
  .home__contact__hours h3,
  .home__contact__distance h3 {
    left: 0;
    text-align: center;
  }

  .home__contact li {
    width: fit-content;
    grid-template-columns: 80px 220px;
    column-gap: 32px;
    margin: auto;
  }
}

@media (min-width: 769px) {
  .home__contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px 200px 100px;
    row-gap: 20px;
    column-gap: 20px;
  }

  .home__contact__title {
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 0;
  }

  .home__contact__image {
    height: fit-content;
    grid-area: 2 / 1 / 4 / 2;
  }

  .home__contact__hours {
    grid-area: 2 / 2 / 3 / 3;
  }

  .home__contact__distance {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (min-width: 977px) {
  .home__contact__wrapper {
    grid-template-columns: 400px 1fr;
  }

  .home__contact__image {
    width: fit-content;
    max-width: 400px;
  }

  .home__contact__image img {
    max-height: 398px;
    max-width: 398px;
  }
}

@media (min-width: 1281px) {
  .home__contact__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 300px;
  }

  .home__contact__title {
    grid-area: 1 / 1 / 2 / 4;
  }

  .home__contact__image {
    grid-area: 2 / 2 / 3 / 3;
  }

  .home__contact__hours {
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
  }

  .home__contact__distance {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
  }
}

/* FOOTER */
footer {
  background: #e2e2e2;
  padding: 20px 0;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 0;
}

.footer__social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer__nav__pages .nav__pages__link {
  justify-content: center;
  padding: 0 20px;
}

.footer__nav__pages .nav__pages__link a {
  font-size: 1rem;
}

.footer__banner__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__banner__bottom a,
.footer__banner__bottom p {
  font-size: 0.8rem;
}

@media (min-width: 481px) {
  .footer__nav__pages {
    display: flex;
  }

  .footer__nav__pages .nav__pages__link {
    height: 40px;
    width: fit-content;
    justify-content: center;
    padding: 0 24px;
  }

  .footer__nav__pages .nav__pages__link:not(:last-child) {
    border-bottom: none;
    border-right: 2px solid #000;
  }

  .footer__nav__pages .nav__pages__link a {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .footer__banner__bottom {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__social {
    width: fit-content;
    order: 2;
  }

  .footer__nav__pages {
    width: fit-content;
    order: 1;
  }

  .footer__nav__pages .nav__pages__link:first-child {
    padding-left: 0;
  }

  .footer__banner__bottom {
    order: 3;
  }
}

/* ABOUT SECTION */
.about__section__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about__section__image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.about__section__text p {
  font-size: 1rem;
}

.about__section__text p:not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 769px) {
  .about__section__content {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .about__section__image {
    width: 48%;
    margin: 0;
  }

  .about__section__image img {
    width: 100%;
  }

  .about__section__text {
    width: 48%;
  }

  .about__section__text p {
    font-size: 1.2rem;
  }
}

/* STORE */
.store__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* STORE SIDE NAV */
.store__sideNav {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 75px 0 50px;
  background: #e9e9e9;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 5;
  transition: all 0.4s;
}

.store__sideNav__wrapper__desk {
  display: none;
}

.store__sideNav__menu__button {
  width: 30px;
  height: 30px;
  position: sticky;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.store__sideNav__menu__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.store__sideNav__wrapper__mobile {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 50px 0 50px;
  background: #e9e9e9;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 5;
  transition: all 0.4s;
}

.store__sideNav__wrapper__mobile.open {
  left: 0;
}

.sideNav__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
}

.store__resultCount.sideNav {
  padding-left: 20px;
  margin-bottom: 20px;
}

.store__resultCount.sideNav span {
  font-weight: bold;
}

.store__filters__reset {
  width: fit-content;
  padding-left: 20px;
  margin-bottom: 32px;
}

.store__searchInput {
  width: 300px;
  position: relative;
  padding: 0 0 0 20px;
  margin-bottom: 32px;
}

.store__searchInput input {
  height: 40px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 1.2rem;
}

.store__searchInput img {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
}

.store__sideNav__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sideNav__category__wrapper {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  background: #fff;
}

.sideNav__category__title {
  height: 60px;
  display: flex;
  align-items: center;
}

.sideNav__category__title h3 {
  font-size: 1rem;
  font-weight: bold;
}

.sideNav__category__list {
  max-height: 0;
  transition: all 0.4s;
  overflow: hidden;
}

.sideNav__category__list.open {
  height: fit-content;
  max-height: 500px;
  padding: 0 0 12px 0;
}

.sideNav__category__list input {
  display: inline-block;
  margin-right: 8px;
}

@media (min-width: 977px) {
  .store__sideNav {
    padding: 0;
    position: static;
    width: 250px;
    background: transparent;
  }

  .store__sideNav__wrapper__mobile {
    display: none;
  }

  .store__sideNav__menu__button {
    display: none;
  }

  .store__sideNav__wrapper__desk {
    display: block;
    width: 250px;
  }

  .store__searchInput.desk {
    width: 250px;
    padding: 0;
  }

  .store__filters__reset {
    padding-left: 0;
    margin-bottom: 32px;
  }

  .sideNav__category__title h3 {
    font-size: 1.2rem;
  }

  .sideNav__category__wrapper {
    border: 0;
    padding-left: 0;
  }

  .sideNav__category__list {
    max-height: 500px;
  }
}

/* STORE GALLERY */
.store__gallery {
  width: 100%;
  position: relative;
}

.store__gallery__wrapper {
  padding-top: 24px;
}

.store__gallery__wrapper .store__resultCount {
  position: absolute;
  top: 3px;
  left: 50px;
}

.store__gallery__wrapper .store__resultCount span {
  font-weight: bold;
}

.store__gallery__products__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 12px;
}

@media (min-width: 481px) {
  .store__gallery__products__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 769px) {
  .store__gallery__products__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 977px) {
  .store__gallery {
    flex-grow: 1;
  }

  .store__gallery__wrapper {
    padding-top: 40px;
  }
}

@media (min-width: 1025px) {
  .store__gallery__products__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
  }
}

@media (min-width: 1201px) {
  /* .store__gallery__products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
  } */

  .gallery__card__wrapper {
    width: 100%;
  }
}

@media (min-width: 1681px) {
  .store__gallery__products__container {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
  }

  .gallery__card__wrapper {
    width: 100%;
  }
}

/* PRODUCT PAGE */
.productPage__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.gradient__border {
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 6px;
}

.productPage__title h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

.productPage__title h2 {
  font-size: 1rem;
  font-weight: bold;
  color: rgpa(0, 0, 0, 0.6);
}

.productPage__carrousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.produtPage__carrousel__container {
  width: 100%;
  overflow: hidden;
}
.productPage__carrousel__images {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  position: relative;
  left: -200%;
  transition: all 0.4s;
}

.productPage__carrousel__image__wrapper {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.productPage__carrousel__image__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.productPage__carrousel__miniContainer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.productPage__carrousel__miniImage__wrapper {
  height: 75px;
  width: 75px;
  border: 2px solid #000;
  overflow: hidden;
}

.productPage__carrousel__miniImage__wrapper img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.productPage__description {
  margin-bottom: 40px;
}

.productPage__description p {
  font-size: 1rem;
}

@media (min-width: 481px) {
  .productPage__carrousel {
    flex-direction: row;
  }

  .produtPage__carrousel__container {
    order: 2;
  }

  .productPage__carrousel__miniContainer {
    flex-direction: column;
    width: 75px;
    height: 100%;
    order: 1;
  }
}

@media (min-width: 977px) {
  .productPage__container {
    display: flex;
    flex-wrap: wrap;
  }

  .productPage__carrousel {
    width: 50%;
    flex-direction: column;
  }

  .produtPage__carrousel__container {
    order: 1;
  }

  .productPage__carrousel__miniContainer {
    flex-direction: row;
    width: 100%;
    height: 75px;
    order: 2;
  }

  .productPage__description {
    width: 50%;
    padding-left: 40px;
    margin-left: auto;
  }

  .productPage__description p {
    font-size: 1.2rem;
  }
}

/* ANIMATIONS */
@keyframes carrousel__prev {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(33.3%, 0);
  }
}

@keyframes carrousel__next {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-33.3%, 0);
  }
}
